<html>
  <head>
      <title>Library</title>
  </head>
  <body>
    <h1>Library</h1>

    <h3><a href="/authors">Add or view an author</a></h3>
    <h3><a href="/books">Add or view a book</a></h3>

  </body>
</html>
